# Automatically use the nix flake development shell when entering this directory
use flake

# Watch the flake for changes
watch_file flake.nix
watch_file flake.lock
watch_file modules/**/*.nix
watch_file home.nix
