[user]
	# Set your name and email
	# name = Your Name
	# email = your.email@example.com

[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[color]
	ui = auto

[diff]
	colorMoved = zebra

[merge]
	conflictstyle = diff3

[include]
	path = ~/.gitconfig-aliases
