!Urxvt settings
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.font: xft:Inconsolata:size=12
!Xft*dpi: 96
!Xft*antialias: true
Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt*scrollBar: false
urxvt*transparent: false

!perl extensions
URxvt*perl-ext-common: default,matcher,tabbed,clipboard
!urls
URxvt.url-launcher: chromium
URxvt.matcher.button: 1

!tabs
URxvt.tabbed.autohide:  yes
URxvt.tabbed.tabbar-fg: #ffffff
URxvt.tabbed.tabbar-bg: #212121
!clipboard
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

! Urxvt color settings
!urxvt*background: #212121
!urxvt*foreground: #DCDCDC

! rofi color settings
rofi.modi: run
rofi.opacity: 80
!rofi.width:   3840
!rofi.height:  2160
rofi.lines:   19
rofi.font:    Inconsolata Powerline 16
rofi.bw:      0
rofi.location: 0
rofi.padding: 200
rofi.terminal: termite
rofi.hide-scrollbar: true
rofi.fullscreen:     true
rofi.color-enabled: true
rofi.separator-style: none
rofi.color-window: argb:6F000000, argb:00000000, argb:00000000
rofi.color-normal: argb:00000000, #FFFFFF, argb:000095FF, #000000, #FFFFFF
rofi.color-active: argb:00000000, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: argb:00000000, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.prompt: 	"applications"

! colors
*.cursorColor:  #b3bdcb
*.background: #404552
*.foreground: #b3bdcb
! Black + DarkGrey
*.color0:  #404552
*.color8:  #2a303b
! DarkRed + Red
*.color1:  #cc575d
*.color9:  #a3464a
! DarkGreen + Green
*.color2:  #2679db
*.color10: #75a9e8
! DarkYellow + Yellow
*.color3:  #b3bdcb
*.color11: #CAD1DB
! DarkBlue + Blue
*.color4:  #5294e2
*.color12: #97bfee
! DarkMagenta + Magenta
*.color5:  #404552
*.color13: #686d79
! DarkCyan + Cyan
*.color6:  #b3bdcb
*.color14: #383c4a
! LightGrey + White
*.color7:  #E1E5EA
*.color15: #ffffff
! for 256 color stuff
*.color24:  #076678
*.color66:  #427b58
*.color88:  #9d0006
*.color96:  #8f3f71
*.color100: #79740e
*.color108: #8ec07c
*.color109: #83a598
*.color130: #af3a03
*.color136: #b57614
*.color142: #b8bb26
*.color167: #fb4934
*.color175: #d3869b
*.color208: #fe8019
*.color214: #fabd2f
*.color223: #ebdbb2
*.color228: #f4e8ba
*.color229: #fdf4c1
*.color230: #ffffc8
*.color234: #1d2021
*.color235: #404552
*.color236: #32302f
*.color237: #3c3836
*.color239: #504945
*.color241: #665c54
*.color243: #7c6f64
*.color244: #928374
*.color245: #928374
*.color246: #a89984
*.color248: #bdae93
*.color250: #d5c4a1
