[Unit]
Description=Headless __WM_NAME__ for Obsidian GUI
After=obsidian-headless-xvfb.service

[Service]
User=__USER__
Group=__GROUP__
WorkingDirectory=__HOME__
ExecStart=__WM_EXEC__
KillSignal=SIGINT
Environment="DISPLAY=::__DISPLAY__"
Environment="XAUTHORITY=__HOME__/.Xauthority"
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Type=simple
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
