[Unit]
Description=Headless Obsidian
After=obsidian-headless-openboxsession.service

[Service]
User=__USER__
Group=__GROUP__
WorkingDirectory=__HOME__
ExecStart=/usr/bin/obsidian --no-sandbox --disable-gpu --disable-software-rasterizer
KillSignal=SIGINT
Environment="DISPLAY=::__DISPLAY__"
Environment="ELECTRON_OZONE_PLATFORM_HINT=x11"
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Type=simple
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
